header{
  background-color: #d189d1;
  background-position: center;
  background-size: cover;
}

.logo-img{
  height: 110px;
  padding-left: 30rem;
}

.nav-link{
  color:#72a3e9
}

.container-fluid {
  height: 100px;
  background-color: #7a4578;
}

