header{
  background-color: #d189d1;
  background-position: center;
  background-size: cover;
}


body {
  background-color: #430643;
}

text {
  background-color: #ed7fed;
}
.logo-img{
  height: 110px;
  padding-left: 25rem;
}

.nav-link{
  color:#72a3e9
}

.container-fluid {
  height: 100px;
  background-color: #7a4578;
}

.container {
  background-color: #f0b6f0;
}

h2 {
  text-indent: 4rem;
}

h6 { 
  text-indent: 4rem;
}
section {
  background-color: #ebafeb;
}
